:root {
  --search-border-radius: 92px;
  --search-height: 60px;
  --search-width: 450px;
  --search-space-vertical: 9px;
  --search-button-width: 52px;
  --search-bar-icon-color: rgba(22, 24, 35, 0.34);
  --hover-color-menu-search-item: #4d9ac02c;
}
/* Header */
.search-result-headless {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh / 2.5);
  padding-top: 8px;
  min-height: 100px;
  width: var(--search-width);
  background-color: var(--white) !important;
  border-radius: 8px;
  box-shadow:
    0 6px 18px 0 var(--primary-opacity),
    0 1px 2px rgba(22, 24, 35, 0.185);
}
.search-title-headless {
  font-weight: 600;
  font-size: 16px;
  font-family: var(--font-family-bold);
  color: rgba(22, 24, 35, 0.5);
  padding: 0 12px;
}
.list-account-headless {
  overflow: hidden;
  overflow-y: overlay;
}
.no-results-headless {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  text-overflow: ellipsis;
}

.search-bar {
  --background-color-search: var(--hover-color-menu-search-item);
  background-color: var(--background-color-search);
  border: 1.5px solid transparent;
  border-radius: var(--search-border-radius);
  display: flex;
  height: var(--search-height);
  padding-left: 16px;
  position: relative;
  width: var(--search-width);
}
.search-bar::after {
  content: '';
  position: absolute;
  top: 50%;
  right: var(--search-button-width);
  width: 1px;
  height: 60%;
  transform: translateY(-50%);
  background-color: var(--primary-opacity);
}
.search-bar:not(:placeholder-shown) .btn-search {
  color: black;
}
.search-bar:focus-within {
  border-color: var(--primary);
}
.search-input {
  background-color: transparent;
  caret-color: var(--primary);
  color: var(--black);
  flex: 1 1;
  font-family: var(--font-family);
  font-size: 1.6rem;
  height: 100%;
  padding-right: 40px;
}
.search-input-clear,
.search-input-loading {
  background-color: transparent;
  color: var(--search-bar-icon-color);
  cursor: pointer;
  display: flex;
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-input-clear:hover {
  color: rgba(0, 0, 0, 0.535);
}
.search-input-loading {
  animation: spinner 0.8s linear infinite;
}
.search-input-loading-private {
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--search-bar-icon-color);
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  background-color: transparent;
}
.btn-search:hover .icon-search {
  transform: scale(1.5);
  cursor: pointer;
}
.active-btn {
  background-color: rgba(22, 24, 35, 0.06);
}
.avatar-header {
  border-radius: 50%;
  cursor: pointer;
  /* margin-left: 8px; */
  object-fit: contain;
  width: 45px;
}
/* SIDEBAR */
.sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: width 0.3s linear;
}
.collapse-sidebar {
  overflow-x: hidden;
}
.chats-list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}
.chats-list::-webkit-scrollbar {
  display: none;
}
.chats-list:hover::-webkit-scrollbar {
  display: block;
}
.border-title {
  box-shadow: 0 2px 2px -2px rgba(84, 84, 84, 0.22);
}

/* Conversation */
.wrapper-conversation {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}
.messages-conversation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 360px) {
  .EmojiPickerReact {
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* Profile */
.wrapper-profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-profile {
  position: relative;
  border: 1px var(--primary) solid;
  flex: 0.6;
  height: calc(100vh / 1.3);
  border-radius: 30px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  background-color: var(--powderGreyOpacity);
}
.icon-goback-profile {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 2.4rem;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}
.content-profile {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infomation-profile {
  display: flex;
  align-items: center;
}
.avatar-profile {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px white solid;
}
.personal-profile {
  margin-left: 30px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.personal-profile .name-profile {
  display: flex;
  flex-direction: column;
}
.display-name-profile {
  font-weight: bold;
  font-size: large;
}
.spec-profile {
  width: 40%;
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}
.box-friends-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  max-width: 80%;
  background-color: #ffe7bf;
  border: 1px #3f4e4f solid;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.box-friends-profile:hover {
  box-shadow: inset 0 0 200px 1px #3f4e4f 5b;
}
.count-friends-profile {
  font-size: 20px;
  font-weight: bold;
  color: #256d85;
}
.friends-profile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.friends-avatar-profile {
  position: relative;
  width: 35px;
  margin-left: -10px;
}
.friends-photo-profile {
  width: 100%;
  border: 1px #256d85 solid;
  border-radius: 50%;
  pointer-events: none;
}
.icon-more-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 24, 35, 0.441);
  border-radius: 50%;
  color: wheat;
}
/* add btn home page */
.button-add {
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-add:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
/* Tabs */
.tab-btn {
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  outline: none;
  border: none;
  appearance: none;
}

.tab-btn.active {
  color: var(--primary);
}

.tab-indicate {
  position: absolute;
  left: 0;
  height: 3px;
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease-in-out;
}

.tab-container {
  display: flex;
}

.tab-container > div {
  flex: 1;
  text-align: center;
  margin: 0;
}
.tab-container > div:nth-child(1) .tab-indicate {
  transform: translateX(0%);
}

.tab-container > div:nth-child(2) .tab-indicate {
  transform: translateX(100%);
}

.tab-container > div:nth-child(3) .tab-indicate {
  transform: translateX(200%);
}
.button-beauty {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow:
    rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px,
    rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px,
    rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family:
    CerebriSans-Regular,
    -apple-system,
    system-ui,
    Roboto,
    sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-beauty:hover {
  box-shadow:
    rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px,
    rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px,
    rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.container-error-page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  text-align: center;
}

.chat-icon-error {
  font-size: 60px;
  margin-bottom: 20px;
  width: 50vmin;
}

.container-error-page h1 {
  font-size: 32px;
  color: #333;
}

.container-error-page p {
  color: #666;
  margin-bottom: 30px;
}

.btn-error {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285f4;

  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: white !important;
}

.btn-error:hover {
  background-color: #2a5db0;
}
.badge-noti {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--danger-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}
