.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: calc(100vw - var(--default-max-width-sidebar));
  height: calc(100vh - var(--default-layout-header-height));
  padding: 100px;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left-message,
.down-message {
  display: flex;
  align-items: center;
  h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    margin: 0 20px;
  }
}

.down-message {
  margin-left: 100px;
  margin-bottom: 50px;
}
.icon-left,
.icon-down {
  width: 100px;
  height: 100px;
  color: var(--primary);
}
.icon-left {
  animation: left-arrow 1.5s forwards infinite;
}
.icon-down {
  animation: down-arrow 1.5s forwards infinite;
}

@keyframes left-arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150px);
  }
}

@keyframes down-arrow {
  from {
    transform: perspective(500px) translateZ(200px);
  }
  to {
    transform: perspective(500px) translateZ(0);
  }
}
