.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.time {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  z-index: 50;
}
